// Gallery Styles

#gallery {
    width: 100%;
}

.gallery-content {
    width: 100%;
    
}




    @media screen and (min-width: 800px) {
        /* Gallery Page */
        .gallery-content {
            grid-area: other;
            display: grid;
            //grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            //grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
                    "a a d g h"
                    "a a e i i"
                    "b c f i i";
            grid-gap: 10px;
            max-width: 875px;
            margin: 0;
            padding: 0;
            
            .gallery-item {
                margin: 0;
                padding: 0;
                width: 100%;
            }
        }
        
        #item-1 {
            //grid-area: 1 / 1 / 3 / 3;
            grid-area: a;
/*            width: 100%;*/
        }
        
        #item-2 {
            //grid-area: 1/3/2/4;
            grid-area: b;
        }
        
        #item-3 {
            //grid-area: 2/3/3/4;
            grid-area: c;
        }
        
        #item-4 {
            //grid-area: 3/1/4/2;
            grid-area: d;
        }
        
        #item-5 {
            //grid-area: 3/2/4/3;
            grid-area: e;
        }
        
        #item-6 {
            //grid-area: 3/3/4/4;
            grid-area: f;
        }
        
        #item-7 {
            //grid-area: 4/1/5/2;
            grid-area: g;
        }
        
        #item-8 {
            //grid-area: 5/1/6/2;
            grid-area: h;
        }
        
        #item-9 {
            //grid-area: 4/2/6/4;
            grid-area: i;
            width: 100%;
        }
    } // end media query

