// Pricing Page Styles

.pricing {
    width: 95%;
}

.packages {
    display: inline-block;
    width: 35%;
    padding: 0 .25em;
    border: 3px solid $darkteal;
    border-radius: 5%;
    margin: .5em;
    
    .sunHeader {
        background-image: url('images/sun.svg');
        background-repeat: no-repeat;
        width: 105%;
        margin: 0 -.5em;
        background-color: $darkteal;
        border: 3px solid $darkteal;
        border-radius: 5%;
        padding: 1em;
    }
    
    .package-title {
        font-size: 1.25em;
        color: $lightgray;
        text-align: center;
    }
}

